@font-face {
    font-family: 'cmu_serifroman';
    src: url('cmuserif_roman_macroman/cmunrm-webfont.eot');
    src: url('cmuserif_roman_macroman/cmunrm-webfont.eot?#iefix') format('embedded-opentype'),
         url('cmuserif_roman_macroman/cmunrm-webfont.woff2') format('woff2'),
         url('cmuserif_roman_macroman/cmunrm-webfont.woff') format('woff'),
         url('cmuserif_roman_macroman/cmunrm-webfont.ttf') format('truetype'),
         url('cmuserif_roman_macroman/cmunrm-webfont.svg#cmu_serifroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
  box-sizing: border-box;
}

a:link {
  color: #444B74; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: #444B74;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #727BAC;
  background-color: transparent;
}

body {
	font-family: 'cmu_serifroman';
	font-weight:  lighter;
}

p {
	width:  35rem;
}

h1 {
  text-align: center;
}

img {
  border-radius:  50%;
  max-width: 100%;
  max-height: 100%;
}

.me{
  width: 50%;
  height: 50%;
  margin: 0 auto;
  width: 225px;
  height:  225px;
}

.column {
  float: left;
  padding:  2%;
}

.left {
	width:  25%;
}

.right {
	width:  75%;
}

@media (min-width: 45rem) {
    main {
        width: 40rem;
    }
}