@font-face {
    font-family: 'cmu_serifroman';
    src: url('cmuserif_roman_macroman/cmunrm-webfont.eot');
    src: url('cmuserif_roman_macroman/cmunrm-webfont.eot?#iefix') format('embedded-opentype'),
         url('cmuserif_roman_macroman/cmunrm-webfont.woff2') format('woff2'),
         url('cmuserif_roman_macroman/cmunrm-webfont.woff') format('woff'),
         url('cmuserif_roman_macroman/cmunrm-webfont.ttf') format('truetype'),
         url('cmuserif_roman_macroman/cmunrm-webfont.svg#cmu_serifroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
  box-sizing: border-box;
}

body {
	font-family: 'cmu_serifroman';
	font-weight:  lighter;
}

p {
	width:  550px;
}

img {
  border-radius:  50%;
  max-width: 100%;
  max-height: 100%;
}

h1 {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.me {
  align-items: center;
  justify-content: center;
  width: 200px;
  height:  200px;
}

.column {
  float: left;
  padding:  2%;
}

.left {
	width:  25%;
}

.right {
	width:  75%;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}