@font-face {
    font-family: 'cmu_serifroman';
    src: url('cmuserif_roman_macroman/cmunrm-webfont.eot');
    src: url('cmuserif_roman_macroman/cmunrm-webfont.eot?#iefix') format('embedded-opentype'),
         url('cmuserif_roman_macroman/cmunrm-webfont.woff2') format('woff2'),
         url('cmuserif_roman_macroman/cmunrm-webfont.woff') format('woff'),
         url('cmuserif_roman_macroman/cmunrm-webfont.ttf') format('truetype'),
         url('cmuserif_roman_macroman/cmunrm-webfont.svg#cmu_serifroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

a:link {
  color: #444B74; 
  background-color: transparent; 
  text-decoration: none;
}

header {
  min-width:  15rem;
  margin: 3rem;
}

a:visited {
  color: #444B74;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #727BAC;
  background-color: transparent;
}

body {
	font-family: 'cmu_serifroman';
  font-size: 4.5mm;
  display: flex;
  flex-wrap: wrap;
	font-weight:  lighter;
}

p {
	max-width:  35rem;
  margin: 1rem;
}

h1 {
  text-align: center;
}

img {
  border-radius:  50%;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  width: 15rem;
  height:  15rem;
}

ul {
  max-width: 33rem;
}